<%
	template.addEvent('form', 'submit', actions.submitForm);
%>

<div id="conversation">

	<ul id="users">

	</ul>

	<div id="messages">

	</div>

	<form>
		<input placeholder="Message.." />
	</form>

</div>