<script id="template" type="text/html">

	<div class="message">
		<span class="meta"><strong>{{ user.name }}</strong>, <span class="date" title="{{ sent.raw }}">{{ sent.pretty }}</span></span>
		<p>{{ message }}</p>
	</div>

</script>
