<script id="template" type="text/html">

	<h1>Chatting</h1>
	<p>Messages you send through chatting.im are encrypted locally, and can only be decrypted by people using the same URL as you, messages are not stored on a server.</p>

	<form class="login">
		<input placeholder="Display name" autofocus />
		<button>Login</button>
	</form>

</script>
