@import 'colours';
@import 'reset';
@import 'type';

html {
	background-image: radial-gradient(circle, rgba(white, 0.20), rgba(white, 0)), linear-gradient(45deg, hsl(($colour-purple-hue + 5), 65, 55) 0, hsl(($colour-purple-hue + 5), 65, 55) 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

div.loading {

	background: rgba(black, 0.5) url('../img/loading.svg') no-repeat center center;
	background-size: 10%;
	bottom: 0;
	display: none;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity .25s ease-in-out;

	&.active {
		opacity: 1;
	}

}

#chat {

	&[template=login] {

		background: rgba(black, 0.25);
		border-radius: 5px;
		box-shadow: inset 0 0 12px rgba(black, 0.15);
		margin: 10% auto;
		padding: 5%;
		width: 50%;

		@media screen and (max-width: 600px) {
			width: 80%;
		}

		h1 {
			font-size: 3em;
			margin-bottom: 0.8em;
			text-align: center;
		}

		p {
			margin-bottom: 0.4em;
		}

		form {

			margin-top: 1.2em;

			input, button {
				background: rgba(black, 0.5);
				border-radius: 3px;
				margin-bottom: 0.5em;
				padding: 0.5em 1em;
			}

		}

	}

	&[template=chat] {

		height: 100%;

		ul.users {

			background: rgba(0,0,0,0.25);
			border-radius: 4px;
			list-style: none;
			padding: 0 0.5em 0.25em;
			position: fixed;
			right: 0.5em;
			top: 0.5em;

			@media screen and (max-width: 600px) {
				display: none;
			}

			li {
				margin-top: 0.25em;
			}

		}

		div.messages {

			height: calc(100% - 50px);
			margin-bottom: 50px;
			overflow: auto;
			padding: 5%;

			div.message {

				margin-top: 1em;

				span.meta {

					display: block;

					span.date {
						font-size: 0.85em;
					}

				}

				p {
					background: rgba(black, 0.25);
					border-radius: 5px;
					display: inline-block;
					padding: 0.75em 1.25em;
					max-width: 80%;
				}

			}

		}

		form {

			bottom: 0;
			height: 50px;
			left: 0;
			position: fixed;
			right: 0;

			input {
				background: white;
				border: none;
				color: black;
				height: 100%;
				padding: 0.75em 1em;
				width: 100%;
			}

		}

	}

}
